* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 100%;
    max-width: 350px;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
}

.card h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 15px;
}

.card h1 i {
    margin: 0 15px;
    font-size: 28px;
}

.card button {
    width: 100%;
    padding: 10px 25px;
    outline: 0;
    border: 2px solid rgba(165, 0, 0, 0.32);
    border-radius: 5px;
    background-color: transparent;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.card button:hover {
    background-color: rgba(165, 0, 0, 0.6);
    border: 2px solid rgba(165, 0, 0, 0.87);
    color: white;
    cursor: pointer;
}

.card .notes_container {
    position: relative;
}

.card .notes_container div {
    position: relative;
}

.card .notes_container p {
    padding: 25px;
    height: 150px;
    width: 100%;
    max-width: 350px;
    background-color: #e9e9e9;
    border-radius: 5px;
    margin-bottom: 15px;
}

.card .notes_container i {
    position: absolute;
    bottom: 15px;
    right: 15px;
    transition: all .3s ease;
    padding: 15px;
    font-size: 24px;
    border-radius: 50%;
}

.card .notes_container i:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    cursor: pointer;
}